<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Task-manager</span>
</nav>

<p>
<h4><strong>Les Tâche (à faire .. ou pas :)</strong></h4>
</p>
<div class="box">
<p><%= link_to "(+) Add", new_path %></p>

<ul>
    <% @tasks.each do |task| %>
        <% if task.completed %>
        <li><input type="checkbox" checked="checked"><%= link_to task.title, task_path(task.id) %> | <%= link_to "Edit", edit_path(task.id) %> | <%= link_to "Delete", destroy_path(task.id), method: :delete, data: {confirm: "Just Do it ;)" } %></li>
        <% else %>
        <li><input type="checkbox"><%= link_to task.title, task_path(task.id) %> | <%= link_to "Edit", edit_path(task.id) %> | <%= link_to "Delete", destroy_path(task.id), method: :delete, data: {confirm: "Just Do it ;)" } %></li>
        <% end %>
    <% end %>
</ul>
</div>
